@page "/summarytypelist"
@implements IDisposable
@using Book.Buttons

<PageTitle>@BookName - Types</PageTitle>

<MudTable Elevation="5" Items="@SummaryTypes" Dense="true" Hover="true" CanCancelEdit="true" CommitEditIcon="@Icons.Material.Filled.Save" @bind-SelectedItem="SelectedSummaryType" SortLabel="Sort By" Class="pa-2" AllowUnsorted="false" >
    <ToolBarContent>
        <MudTooltip Text="New Summary Type" Delay="500" Duration="0" ShowOnFocus="false">
            <MudIconButton Icon="@Icons.Material.Filled.AddCircleOutline" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" OnClick="AddSummaryType" aria-label="create summary" />
        </MudTooltip>
        <MudText Typo="Typo.h4">&nbsp;Summaries</MudText>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Tools</MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<SummaryType, object>(x=>x.Name)">Name</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<SummaryType, object>(x=>x.Order)">Order</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<SummaryType, object>(x=>x.CreateDate)">Created</MudTableSortLabel></MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Tools">
            <MudTooltip Text="Edit Summary Type" Delay="500" Duration="0" ShowOnFocus="false" >
                <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary" Size="Size.Small" aria-label="edit summary type" OnClick="() => EditSType(context.SummaryTypeId)" />
            </MudTooltip>
            @if (context.Types.Count > 0)
            {
                <MudTooltip Text="List Entries for Summary Type" Delay="500" Duration="0" ShowOnFocus="false">
                    <MudIconButton Icon="@Icons.Material.Filled.PointOfSale" Color="Color.Primary" Size="Size.Small" aria-label="list entries for summary type" OnClick="()=> ListTransactionsSummary(context)" />
                </MudTooltip>
            }
            @if (context.Types.Count == 0 && context.SummaryTypeId != -1)
            {
                <DeleteSTypeBtn SummaryType="@context" Size="@Size.Small" Variant="@Variant.Text" SummaryTypeList="@this" />
            }
        </MudTd>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Order">@context.Order</MudTd>
        <MudTd DataLabel="Created">@context.CreateDate.ToShortDateString()</MudTd>
        <MudTd>
            @if (@context.TransactionTypeList.Count > 0)
            {
                <MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick="@(() => ShowTransactionTypeBtnPress(context.SummaryTypeId))">@((context.ShowTransactionTypes == true) ? "Hide" : "Show") @context.TransactionTypeList.Count Entry Types</MudButton>
            }
            else
            {
                <MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick="() => AddTransactionType(context.SummaryTypeId)">New Entry Type</MudButton>
            }
        </MudTd>
    </RowTemplate>
    <ChildRowContent>
        @if (context.ShowTransactionTypes)
        {
            <MudTr>
                <td colspan="5" class="pa-5">
                    <MudTable Items="@context.TransactionTypeList" Context="TypeContext" Hover="true" Elevation="5" SortLabel="Sort By" AllowUnsorted="false" >
                        <ToolBarContent>
                            <MudTooltip Text="New Entry Type" Delay="500" Duration="0" ShowOnFocus="false">
                                <MudIconButton Icon="@Icons.Material.Filled.AddCircleOutline" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" OnClick="() => AddTransactionType(context.SummaryTypeId)" aria-label="create entry type" />
                            </MudTooltip>
                            <MudText Typo="Typo.h5">&nbsp;<strong>@context.Name</strong> Entry Types</MudText>
                        </ToolBarContent>
                        <HeaderContent>
                            <MudTh>Tools</MudTh>
                            <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<TransactionType, object>(x=>x.Name)">Name</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<TransactionType, object>(x=>x.CreateDate)">Created</MudTableSortLabel></MudTh>
                        </HeaderContent>
                        <NoRecordsContent>
                            <MudText>No Entry Types for <strong>@context.Name</strong></MudText>
                        </NoRecordsContent>
                        <RowTemplate>
                            <MudTd DataLabel="Tools">
                                <MudTooltip Text="Edit Entry Type" Delay="500" Duration="0" ShowOnFocus="false" >
                                    <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary" Size="Size.Small" aria-label="edit entry type" OnClick="()=> EditTType(TypeContext.TransactionTypeId)" />
                                </MudTooltip>
                                <MudTooltip Text="List Entries for Entry Type" Delay="500" Duration="0" ShowOnFocus="false" >
                                    <MudIconButton Icon="@Icons.Material.Filled.PointOfSale" Color="Color.Primary" Size="Size.Small" aria-label="list entries for entry type" OnClick="()=> ListTransactionsTType(TypeContext)" />
                                </MudTooltip>
                                @if (TypeContext.TransactionCount < 1 && TypeContext.TransactionTypeId > -1)
                                {
                                    <DeleteTTypeBtn TransactionType="@TypeContext" Variant="@Variant.Text" Size="@Size.Small" SummaryTypeList="@this" />
                                }
                            </MudTd>
                            <MudTd DataLabel="Name">@TypeContext.Name</MudTd>
                            <MudTd DataLabel="Date Created">@TypeContext.CreateDate.ToShortDateString()</MudTd>
                        </RowTemplate>
                    </MudTable>
                </td>
            </MudTr>
        }
    </ChildRowContent>
</MudTable>
