
@if (ShowDialog)
{
    <div class="modal fade show d-block" id="summaryTypeModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    @if (SavedSummaryTypeId == 0)
                    {
                        <h5 class="modal-title" id="titleLabel">Create Summary Type</h5>
                    }
                    else
                    {
                        <h5 class="modal-title" id="titleLabel">Edit Summary Type</h5>
                    }
                    <button type="button" class="btn btn-secondary oi oi-circle-x float-end" data-dismiss="modal" title="Close" @onclick="() => Close()"></button>
                </div>
                <div class="modal-body">

                    <EditForm Model="@SummaryType" OnValidSubmit="@HandleValidSubmit">

                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="row">
                            <label for="Name" class="col-3">Name:</label>
                            <InputText id="Name" class="col-9" @bind-Value="@SummaryType.Name" placeholder="Enter name"></InputText>
                            <ValidationMessage For="@(() => SummaryType.Name)" />
                        </div>
                        <div class="row">
                            <label for="Order" class="col-3">Order:</label>
                            <InputNumber id="Order" class="col-4" @bind-Value="@SummaryType.Order" placeholder="Enter order"></InputNumber>
                            <ValidationMessage For="@(() => SummaryType.Order)" />
                        </div>
                        <div class="row">
                            <label class="col-3">Created:</label>
                            <div class="col-4">@SummaryType.CreateDate.ToShortDateString()</div>
                        </div>
                        <div class="row float-end">
                            <div class="col-2">
                                <button type="submit" class="btn btn-primary oi oi-circle-check" title="Save" ></button>
                            </div>
                        </div>

                    </EditForm>

                </div>
            </div>
        </div>
    </div>
}