
@if (ShowDialog)
{
    <div class="modal fade show d-block" id="transactionTypeModal" tabindex="-1" role="dialog">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    @if (SavedTransactionTypeId == 0)
                    {
                        <h5 class="modal-title" id="titleLabel">Create Transaction Type</h5>
                    }
                    else
                    {
                        <h5 class="modal-title" id="titleLabel">Edit Transaction Type</h5>
                    }
                    <button type="button" class="btn btn-secondary oi oi-circle-x float-end" data-dismiss="modal" title="Close" @onclick="() => Close()"></button>
                </div>
                <div class="modal-body">

                    <EditForm Model="@TransactionType" OnValidSubmit="@HandleValidSubmit">

                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="row">
                            <label for="Name" class="col-3">Name:</label>
                            <InputText id="Name" class="col-8" @bind-Value="@TransactionType.Name" placeholder="Enter name"></InputText>
                            <ValidationMessage For="@(() => TransactionType.Name)" />
                        </div>
                        <div class="row">
                            <label for="SummaryTypeId" class="col-3">Summary:</label>
                            <InputSelect id="summarytypeid" class="form-select-sm col-8" @bind-Value="@TransactionType.SummaryTypeId">
                                @foreach (var summaryType in SummaryTypeSL)
                                {
                                    <option value="@summaryType.SummaryTypeId.ToString()">@summaryType.Name</option>
                                }
                                @TransactionType.SummaryTypeId
                            </InputSelect>
                            <ValidationMessage For="@(() => TransactionType.SummaryTypeId)" />
                        </div>
                        <div class="row">
                            <label class="col-3" >Created: </label>
                            <div class="col-4" >@TransactionType.CreateDate.ToShortDateString()</div>
                        </div>
                        <div class="row float-end">
                            <div class="col-2">
                                <button type="submit" class="btn btn-primary oi oi-circle-check" title="Save"></button>
                            </div>
                        </div>

                    </EditForm>

                </div>
            </div>
        </div>
    </div>
}